.wrapper {
  padding: 12px 22px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.1);
}

.wrapper .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .inner .left .logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.inner .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  cursor: pointer;
  user-select: none;
}

.right .profile h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.right .profile .picture {
  border-radius: 18px;
}
