.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 8px;
  background: #474749;
  border: none;
  outline: inherit;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  font-family: HelveticaNeue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  transition: box-shadow 0.2s ease-in-out;
}

.root:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.root.primary {
  background: #6c5dd3;
  color: #fff;
}
